.display-1 {
    margin-bottom: 0px;
    font-size: 16px;
}

.display-2 {
    margin-bottom: 0px;
    font-size: 16px;
}

.display-3 {
    font-size: 14px;
}

.display-4 {
    font-size: 12px; 
}

.btn-small {
    font-size: 11px;
    margin: 2.5px 2.5px 2.5px 2.5px;
}

.fl-navbar-l {
    flex: 2 1 auto;
}

.fl-navbar-r {
    flex: 0 1 auto;
}

.ft-navbar-l {
    float: left;
}

.ft-navbar-r {
    float: right;
    margin-top: 5px;
}

.card-header {
    display: inline-flex;
}

.card-topic {
    flex: 1 1 auto;
    max-width: 50%;
}

.card-date {
    text-align: right;
    flex: 1 1 auto;
    font-size: 12px;
    max-width: 50%;
}

.card-text {
    text-align: justify;
    font-size: 14px;
}

.card-tag {
    text-align: right;
    flex: 1 1 auto;
    font-size: 10px;
}

.card-footer-text {
    display: inline-flex;
    align-items: flex-start;
}

.card-footer-btn {
    flex: 1 1 auto;
}

.card-footer-fixed {
    flex: 0 0 auto;
    display: inherit;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

.card-footer-fixed-text {
    text-align: justify;
    font-size: 12px;
    flex: 1 1 auto;
    max-width: 50%;
}

.card-author {
    font-size: 12px;
}

.text-comment {
    font-size: 12px;
    margin-left: 1.5rem;
}

.author-comment {
    margin-left: 0.5rem;
}

.text-add-comment {
    font-size: 0.8rem;
}

.login-text {
    font-size: 0.9rem;
}

.success {
    color: #28a745;
}

img {
    max-width: 50%;
    height: auto;
    float: right;
    margin: 5px 0 5px 10px;
}

.topic-img {
    max-width: 80%;
    height: auto;
    float: left;
}

.topic-text {
    display: flex;
    flex-direction: column;
}

.card-img-top {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.card-body-column {
    flex: 1 1 auto;
}

.header-font {
    font-size: 0.8rem;
}

.mb-2 {
    margin-top: 0.5rem
}

.navbar {
    margin-bottom: 10px;
}

.navbar-search {
    flex: 1 1 50%;
    margin-right: 4px;
    margin-left: 4px;
}

.navbar-btn {
    flex: 1 1 auto;
}

pre {
    font-size: 12px;
    margin-top: -30px;
    /* overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%; */
}

p {
    text-align: justify;
    font-size: 14px;
}

i {
    text-align: justify;
    font-size: 12px;
    color: DimGrey;
    line-height: 1;
}

u {
    text-align: justify;
    font-size: 12px;
    color: DimGrey;
    line-height: 1;
}

h1 {
    font-size: 20px;
    line-height: 2.5;
}

h2 {
    font-size: 18px;
    line-height: 2.5;
}

h3 {
    font-size: 16px;
    line-height: 2.5;
}