{% extends "blog/base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="card bg-light mb-3">
    <div class="card-header">
        <h1 class="display-2"><a href="{% url 'blog:topic' e_topic.slug %}">{{ e_topic }}</a></h1>
    </div>
    <div class="card-body">
        <p class="card-text">{{ e_text|safe }}
        </p>
    </div>
</div>
<div class="media">
    <div class="media-body">
        <h2 class="display-4">Комментарии:</h2>

        <p>{% for comment in comments %}
        <p class="card-subtitle mb-2 author-comment">{{ comment.author }} <small class="card-text text-muted">{{ comment.date }}</small></p>
        <p class="text-comment">
            {{ comment }}
        </p>
        {% empty %}
        <p class="text-comment">Для этой записи ещё нет комментариев.</p>
        {% endfor %}
        </p>
        <p><a href="{% url 'blog:new_comment' e_comment.slug %}" class="btn btn-outline-primary btn-small">добавить комментарий</a></p>
    </div>
</div>
{% endblock content %}