{% extends "blog/base.html" %}

{% block header %}
	<h1 class="display-1">Список тем:</h1>
{% endblock header %}

{% block content %}
<div class="list-group">
    {% for e in entry %}
    <p><h2 class="display-2">
        <a href="{% url 'blog:topic' e.topic.slug %}" class="list-group-item list-group-item-action list-group-item-light">{{ e.topic }}</a>
    </h2></p>
    <p>{{ e.text }}</p>
    <p>{{ e.topic.author.username }}</p>
    <p>{{ e.topic.date }}</p>
    {% if e.topic.tag.slug %}
      <p><a href="{% url 'blog:tag' e.topic.tag.slug %}">{{ e.topic.tag.text }}</a></p>
    {% else %}
      <p>None</p>
    {% endif %}
    <p>
      <a href="{% url 'blog:comments_entry' e.slug %}" class="btn btn-primary">comments({{ e.comment_set.count }})</a> | <a href="{% url 'blog:new_comment' e.slug %}" class="btn btn-primary">add new comment</a> | <a href="{% url 'blog:topic' e.topic.slug %}" class="btn btn-primary">читать</a>
    </p>
    {% empty %}
		<p>Записей нет.</p>
    {% endfor %}
</div>
{% endblock content %}