{% extends "blog/base.html" %}

{% block header %}
<p class="display-1">Список тем:</p>
{% endblock header %}

{% block content %}

{% for e in page_obj %}
<div class="card bg-light mb-3">
    <div class="card-header">
        <div class="card-topic">
            <h1 class="display-2">
                <a href="{% url 'blog:topic' e.topic.slug %}">{{ e.topic }}</a>
            </h1>
        </div>
        <div class="card-date">
            <small class="card-text text-muted">{{ e.topic.date }}</small>
        </div>
    </div>
    <div class="card-body card-body-img">
        <div class="card-body-column">
            <picture>
                {% if e.image_s %}
                    <source srcset="{{ e.image_s.url }}" media="(max-width: 1200px)">
                    <img class="card-img-top" src="{{ e.image.url }}" alt="{{ e.image_alt }}">
                {% elif e.image %}
                    <img class="card-img-top" src="{{ e.image.url }}" alt="{{ e.image_alt }}">
                {% else %}
                {% endif %}
            </picture>
            <p class="card-text">
                {{ e.text|safe }}
            </p>
            <p class="card-subtitle mb-2 text-muted card-author">Автор: {{ e.topic.author.username }}</p>
        </div>
    </div>
    <div class="card-footer card-footer-text bg-transparent border-secondary">
        <div class="card-footer-btn"><a href="{% url 'blog:comments_entry' e.slug %}"
                class="btn btn-outline-primary btn-small">комментарии({{ e.comment_set.count }})</a> | <a
                href="{% url 'blog:new_comment' e.slug %}" class="btn btn-outline-primary btn-small">добавить
                комментарий</a> | <a href="{% url 'blog:topic' e.topic.slug %}"
                class="btn btn-primary btn-small">читать</a>
        </div>
        <div class="card-tag">
            {% if e.topic.tag.slug %}
            <a href="{% url 'blog:tag' e.topic.tag.slug %}"
                class="badge badge-pill badge-success">{{ e.topic.tag.text }}</a>
            {% else %}
            <span class="badge badge-pill badge-light">None</span>
            {% endif %}

            {% for tag in e.topic.tags.all %}
            <a href="{{ tag.get_absolute_url }}"
            class="badge badge-pill badge-success">{{ tag.text }}</a>
            {% endfor %}
            
        </div>
    </div>
</div>
{% empty %}
<p class="display-2">Записей нет.</p>
{% endfor %}

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo;</a>
            <a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
        {% endif %}

        <span>
            Страницы {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&gt;</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock content %}