{% extends "blog/base.html" %}

{% block header %}
<p class="display-1">Список тем:</p>
{% endblock header %}

{% block content %}

{% for e in entry %}
<div class="card bg-light mb-3">
    <div class="card-header">
        <h1 class="display-2">
            <a href="{% url 'blog:topic' e.topic.slug %}">{{ e.topic }}</a>
        </h1>
        <div class="card-date">
            <small class="card-text text-muted">{{ e.topic.date }}</small>
        </div>
    </div>
    <div class="card-body card-body-img">
        <div class="card-body-column">
            <p class="card-text">{{ e.text|safe }}</p>
            <p class="card-subtitle mb-2 text-muted">Автор: {{ e.topic.author.username }}</p>
        </div>
        <div class="card-body-column">
            {% if e.image %}
            <img class="card-img-top" src="{{ e.image.url }}" alt="{{ e.image_alt }}">
            {% else %}
            <img class="card-img-top" src="" alt="Нет изображения">
            {% endif %}
        </div>
    </div>
    <div class="card-footer card-footer-text bg-transparent border-secondary">
        <div class="card-footer-btn"><a href="{% url 'blog:comments_entry' e.slug %}"
                class="btn btn-outline-primary btn-small">комментарии({{ e.comment_set.count }})</a> | <a
                href="{% url 'blog:new_comment' e.slug %}" class="btn btn-outline-primary btn-small">добавить
                комментарий</a> | <a href="{% url 'blog:topic' e.topic.slug %}"
                class="btn btn-primary btn-small">читать</a>
        </div>
        <div class="card-tag">
            {% if e.topic.tag.slug %}
            <a href="{% url 'blog:tag' e.topic.tag.slug %}"
                class="badge badge-pill badge-success">{{ e.topic.tag.text }}</a>
            {% else %}
            <span class="badge badge-pill badge-light">None</span>
            {% endif %}
        </div>
    </div>
</div>
{% empty %}
<p class="display-2">Записей нет.</p>
{% endfor %}

{% endblock content %}