{% extends "blog/base.html" %}
{% load bootstrap4 %}

{% block header %}
<h1 class="display-2"><a href="{% url 'blog:topic' topic.slug %}">{{ topic }}</a></h1>
{% endblock header %}

{% block content %}

<p class="card-text">{{ entry|safe }}</p>
{% if user.is_authenticated %}
<label class="font-italic text-add-comment">Добавление комментария:</label>
<form action="{% url 'blog:new_comment' entry.slug %}" method='post'>
	<div class="form-group">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary btn-small">добавить комментарий</button>
		{% endbuttons %}
	</div>
</form>
{% else %}
<p class="form login-text">Чтобы добавить комментарий необходимо <a href="{% url 'users:login' %}">войти</a> или <a href="{% url 'users:register' %}">зарегистрироваться</a>.</p>
{% endif %}
{% endblock content %}