{% extends "blog/base.html" %} 
{% load bootstrap4 %}

{% block header %}
<h1 class="display-2"><a href="{% url 'blog:topic' topic.slug %}">{{ topic }}</a></h1>
{% endblock header %}

{% block content %}

<p class="card-text">{{ entry }}</p>
    <label>Добавление комментария:</label>
    <form action="{% url 'blog:new_comment' entry.slug %}" method='post'>
		<div class="form-group">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary btn-small">add comment</button>
		{% endbuttons %}</div>
	</form>
{% endblock content %}