{% extends "blog/base.html" %} 
{% load bootstrap4 %}

{% block header %}
<h2><a href="{% url 'blog:topic' topic.slug %}">{{ topic }}</a></h2>
{% endblock header %}

{% block content %}

<h3>{{ entry }}</h3>
<h2>Add a new comment:</h2>
    <form action="{% url 'blog:new_comment' topic.slug %}" method='post' class="form">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
			<button name="submit" class="btn btn-primary">add comment</button>
		{% endbuttons %}
	</form>

{% endblock content %}