{% extends "blog/base.html" %}

{% block header %}
<p class="display-1">Результаты поиска:</p>
{% endblock header %}

{% block content %}
<div class="list-group">
    {% if topics or entries %}
    {% for topic in topics %}
    <p>
        <a href="{% url 'blog:topic' topic.slug %}" class="list-group-item list-group-item-action">{{ topic }}</a>
    </p>
    {% endfor %}
    {% for entry in entries %}
    <p>
        <a href="{% url 'blog:topic' entry.topic.slug %}" class="list-group-item list-group-item-action">{{ entry }}</a>
    </p>
    {% endfor %}
    {% else %}
    <p class="alert alert-danger" role="alert">
        Ничего не найдено, попробуйте снова.
    </p>
    {% endif %}
</div>
{% endblock content %}