{% extends "blog/base.html" %}

{% block header %}
<p class="display-1">Список тем с тегом: <small class="text-muted">{{ tag }}</small></p>
{% endblock header %}

{% block content %}

{% for tag_topic in tag_topics %}
<div class="card bg-light mb-3">
<div class="card-header display-2">
	<div class="card-topic">
		<a href="{% url 'blog:topic' tag_topic.slug %}">{{ tag_topic.title }}</a>
	</div>
	<div class="card-date">
		<small class="card-text text-muted">{{ tag_topic.date }}</small>
	</div>
</div>
</div>


{% empty %}
	<li>
		There are no topic for this tag yet.
	</li>
{% endfor %}

{% endblock content %}