{% extends "blog/base.html" %}

{% block description %}
<meta name="description" content="{{ topic.description }}" />
{% endblock description %}

{% block content %}
<div class="card bg-light mb-3">
	<div class="card-header">
		<div class="card-topic">
			<h1 class="display-2">{{ topic }}</h1>
			{% for e in entry %}
		</div>
		<div class="card-date">
			<small class="card-text text-muted">{{ e.topic.date }}</small>
		</div>
	</div>
	<div class="card-body">
		<p class="card-text">{{ e.text|safe }}</p>
		<div class="topic-text">
			{% for i in image %}
			<div>
				<p class="card-text">
					{{ i.text|safe }}
					<img src="{{ i.image.url }}" class="topic-img" alt="{{ i.image_alt }}">
				</p>
			</div>
			{% endfor %}
		</div>
		<div>
			<p class="card-subtitle mb-2 text-muted card-author">Автор: {{ e.topic.author.username }}</p>
		</div>
	</div>
	<div class="card-footer card-footer-text bg-transparent border-secondary">
		<div class="card-footer-btn">
			<a href="{% url 'blog:comments_entry' e.slug %}"
				class="btn btn-outline-primary btn-small">комментарии({{ e.comment_set.count }})</a> | <a
				href="{% url 'blog:new_comment' e.slug %}" class="btn btn-outline-primary btn-small">добавить
				комментарий</a>
		</div>
		<div class="card-tag">
			{% if e.topic.tag.slug %}
			<a href="{% url 'blog:tag' e.topic.tag.slug %}"
				class="badge badge-pill badge-success">{{ e.topic.tag.text }}</a>
			{% else %}
			<span class="badge badge-pill badge-light">None</span>
			{% endif %}
		</div>

	</div>
</div>

{% endfor %}

{% endblock content %}