{% extends "blog/base.html" %}

{% block header %}
	<h1 class="display-4">Список тем:</h1>
{% endblock header %}

{% block content %}
<div class="list-group">
	{% for topic in topics %}
		<h3>
            <a href="{% url 'blog:topic' topic.slug %}" class="list-group-item list-group-item-action list-group-item-light">{{ topic }}</a>
        </h3>
	{% empty %}
		<p>Записей нет.</p>
    {% endfor %}
    {% for e in entry %}
    <a href="{% url 'blog:topic' e.topic.slug %}" class="list-group-item list-group-item-action list-group-item-light">{{ e.topic }}</a>
    {{ e.text }}
    {% endfor %}
</div>
{% endblock content %}