{% extends "blog/base.html" %}
{% load bootstrap4 %}

{% block header %}
<p class="display-2">Войти в свой аккаунт.</p>
{% endblock header %}

{% block content %}

<p>
	<form method="post" action="{% url 'users:login' %}" class="form login-text">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary btn-small">войти</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'blog:index' %}" />
	</form>
	<p class="form login-text">Ещё нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться.</a></p>
</p>

{% endblock content %}