{% extends "blog/base.html" %}
{% load bootstrap4 %}

{% block header %}
<p class="display-2">Зарегистрировать свой аккаунт.</p>
{% endblock header %}

{% block content %}

<p>
	<form method="post" action="{% url 'users:register' %}" class="form login-text">
		{% csrf_token %}
		{% bootstrap_form form %}
		{% buttons %}
		<button name="submit" class="btn btn-primary btn-small">зарегистрироваться</button>
		{% endbuttons %}
		<input type="hidden" name="next" value="{% url 'blog:index' %}" />
	</form>
</p>

{% endblock content %}